.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 6rem;
  border-radius: .6rem;
  border: 2px solid #3993ff;
  outline: 0;
  cursor: pointer;
  transition: all .09s linear;
  color: #3993ff;
  font-size: 1.3rem;
  font-weight: bold;

  span {
    position: absolute;
    bottom: 0;
    font-size: .6rem;
  }

  &.selected {
    color: #fff;
    background: #3993ff;
    border-color: transparent;
    margin-top: -.8rem;
  }

}
