<div *ngIf="currentUsername != null">
  <button mat-button
          #menuTrigger="matMenuTrigger"
          (menuClosed)="menuClosed()"
          (menuOpened)="menuOpened()"
          [matMenuTriggerFor]="menu">
    {{ currentUsername }}
    <mat-icon>
      {{ menuTrigger["menuOpen"] ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
    </mat-icon>
  </button>

  <mat-menu #menu class="customize">
    <div class="user-data h-100 w-100 no-select">
      <mat-icon class="avatar h-100 w-auto">
        perm_identity
      </mat-icon>
      <input #input
             class="h-100 h-100 w-100"
             [(ngModel)]="newUsername"
             (click)="$event.stopPropagation()"
             (keydown.enter)="changeName()"
             [disabled]="!isChangeNameMode"
             maxlength="15">
      <button mat-button
              class="h-100 w-auto"
              (click)="onChangeNameClick($event);">
        <mat-icon>
          create
        </mat-icon>
      </button>
    </div>

    <button mat-menu-item *ngIf="isInRoom">
      <mat-slide-toggle [(ngModel)]="observer"
                        (toggleChange)="changeUserType()"
                        style="color: black">
        {{ 'main.component.settings.observer' | translate }}
      </mat-slide-toggle>
    </button>

    <button mat-menu-item>
      <mat-slide-toggle [checked]="allowDeleteUsers"
                        (toggleChange)="changeAllowDeleteUsers()"
                        style="color: black">
        {{ 'main.component.settings.deleting-users' | translate }}
      </mat-slide-toggle>
    </button>

    <button mat-menu-item class="h-100 w-100" (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
      <span>
      {{ 'main.component.settings.logout' | translate }}
    </span>
    </button>

  </mat-menu>
</div>
