<div id="background-poker">
  <app-user-settings class="user-settings-btn"></app-user-settings>
  <div class="center">
    <p class="title no-select">Planning Poker</p>
    <div class="btn-container">
      <button mat-raised-button
              class="join-room-btn"
              routerLink="/join-room">
        <span>{{ 'main.page.home.join-room-button' | translate }}</span>
      </button>
      <button mat-raised-button
              class="create-room-btn"
              routerLink="/create-room">
        <span>{{ 'main.page.home.create-room-button' | translate }}</span>
      </button>
    </div>
  </div>
</div>
