.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input::placeholder {
    color: black;
  }

}

.mat-form-field {
  width: 20rem;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

::ng-deep .mat-active span {
  color: white !important;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-hint {
  color: black !important;
}

.not-empty-select.mat-selected {
  color: black !important;
}

:host ::ng-deep .mat-select-value-text {
  color: black !important;
}

#background-poker {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("/assets/background.jpg");
  background-size: cover;
}
