<div class="main-container">
  <div class="top-container">
    <div class="room-info-container">
      <span>
        {{ roomName }} | Kod: {{ roomKey }}
      </span>
      <button [cdkCopyToClipboard]="getShareLink()"
              (click)="snackBarOpen()"
              style="margin-left: 5px" mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div class="d-flex">
      <app-user-settings></app-user-settings>
      <button (click)="leaveRoom()" mat-raised-button>Wyjdź z pokoju</button>
    </div>
  </div>
  <mat-grid-list cols="8" rowHeight="10rem">
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <app-card-shower [activeUser]="pokerService.currentUserValue.userName" [users]="users1"></app-card-shower>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <div class="table">
        <button *ngIf="!isRevealed"
                class="show-cards-btn"
                (click)="showCards()"
                mat-raised-button>
          <span>Odkryj karty</span>
        </button>
        <app-vote-shower *ngIf="isRevealed" [sizes]="answers"></app-vote-shower>
        <div *ngIf="isRevealed"
             (click)="cleanAnswers()"
             class="next-voting-btn">
          <span class="no-select">Następne głosowanie</span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <app-card-shower [activeUser]="pokerService.currentUserValue.userName" [users]="users2"></app-card-shower>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
  </mat-grid-list>

  <div class="picker-container">
    <app-card-picker (wasCardClicked)="updateCard($event)" *ngIf="!isRevealed && !observer"
                     [selectedSize]="selectedSize"></app-card-picker>

  </div>
</div>

