.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  .vote-shower-row {
    height: 30vh;
    min-height: 13rem;
  }

  .room-info {
    color: black;
    font-size: 1.1rem;
    line-height: normal;
    font-weight: bold;
  }

  .table {
    position: relative;
    grid-area: table;
    padding: 0 1.6rem;
    background: #d7e9ff;
    border-radius: 2.8rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;

      @media (max-width: 576px) and (min-width: 1px) {
        align-items: baseline;
    }

    display: flex;
    justify-content: center;

    .show-cards-btn {
      font-size: 1.1rem;
      padding: 0.3rem 1.2rem 0.3rem 1.2rem;
      border-radius: 1.8rem;
    }

    .next-voting-btn {
      align-self: flex-end;
      width: 100%;
      background: #393737;
      position: absolute;
      height: 3rem;
      border-radius: 0 0 2.8rem 2.8rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1.3rem;
      }

    }

    .next-voting-btn:hover {
      cursor: pointer;
    }

  }

  .card-picker-row, .vote-shower-row {
    overflow-x: auto;
    white-space: nowrap;
  }

  .card-picker-row {
    padding-top: 10px;
  }

}
