<div id="background-poker">
  <app-user-settings class="user-settings-btn"></app-user-settings>
  <div (keyup.enter)="joinRoom()" class="center">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'main.page.join.room-code' | translate }}</mat-label>
        <input [(ngModel)]="roomKey" matInput placeholder="{{ 'main.page.join.room-code' | translate }}" type="text" maxlength="5">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'main.page.join.user-name' | translate }}</mat-label>
        <input [(ngModel)]="userName" matInput placeholder="{{ 'main.page.join.user-name' | translate }}" type="text" maxlength="15">
        <mat-icon matSuffix>attribution</mat-icon>
      </mat-form-field>
    </p>

    <mat-slide-toggle [(ngModel)]="observer">{{ 'main.page.join.observer' | translate }}</mat-slide-toggle>

    <div style="display: flex; flex-direction: column">
      <button (click)="joinRoom()" color="primary" mat-raised-button>
        {{ 'main.page.join.join-room-button' | translate }}
      </button>
      <br>
      <button color="secondary" mat-raised-button routerLink="/home">
        {{ 'main.page.join.return-button' | translate }}
      </button>
    </div>
  </div>
</div>
