.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input::placeholder {
    color: black;
  }

}

mat-slide-toggle {
  margin-bottom: 15px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-hint {
  color: black !important;
}
