<div class="center">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Podaj kod do pokoju</mat-label>
      <input [(ngModel)]="roomKey" matInput type="text" placeholder="Kod">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-hint>Podaj kod do pokoju</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Podaj pseudonim</mat-label>
      <input [(ngModel)]="userName" matInput type="text" placeholder="Pseudonim">
      <mat-icon matSuffix>attribution</mat-icon>
      <mat-hint>Podaj pseudonim</mat-hint>
    </mat-form-field>
  </p>
  <div style="display: flex; flex-direction: column">
    <button mat-raised-button color="primary" (click)="joinRoom()">
      Wejdź do pokoju
    </button>
    <br>
    <button mat-raised-button color="secondary" routerLink="/home">
      Wstecz
    </button>
  </div>
</div>
