/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blue-scroll {
  ::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
      color-stop(.5, rgba(255, 255, 255, .2)),
      color-stop(.5, transparent), to(transparent));
  }
}

.user-settings-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #2f796f !important;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #c3c3c3 !important;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #9f9f9f !important;
}
